<DOCTYPE! html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

	<section><nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">BucketList</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Your Log</a>
      </li>
      <!---<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>--->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Calendar</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav></section>
<br>
<br>


<body style="background-color:grey ">
	<div style="margin: 100px">
	<ul class="list-group">
		{% for item in all %}
		<li class="list-group-item list-group-item-action list-group-item-secondary" >{{ item.content }}<form action="/delete/{{ item.id }}/" method="post" style="display:inline">
			{% csrf_token %}
			&nbsp &nbsp
		<input class="btn btn-secondary btn-sm" type="submit" value="DELETE">
		</form>
		</li>
		
		{% endfor %}
	</ul>
<br>
<br>
	<form action="/add/" method="post">{% csrf_token %}
		WORK:<input type="text" name="content"><br>
    
	<input class="btn btn-primary" type="submit" value="ADD">
</form>
</div>
</body>
</html>